
.Navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo {
    width: 200px; 
    height: auto;
}

.nav-profile {
    width: 80px; 
    height: auto;
}
@media(max-width:800px){
    .Navbar{
        padding: 15px 30px;
        width: 110%;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}
