.Header-images {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.Header-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.Header-images img.active {
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Header-images {
    height: 40vh; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .Header-images {
    height: 30vh; /* Further adjustment for very small screens */
  }
}
